# **1.  TP : Introduction aux structures de données en Python**

In [1]:
#importation de pandas pour la transformation du dictionnaire en datafram pour la manipulation
import pandas as pd

In [18]:
#Création du dictionnaire
ventes=[
    {"produit": "ordinateur", "quantité": 5, "prix_unitaire": 700},
    {"produit": "smartphone", "quantité":8, "prix_unitaire":300},
    {"produit": "tablette", "quantité": 2, "prix_unitaire":400},
]

### **1. Calcul du total des ventes pour chaque produit (quantité * prix_unitaire).**

In [4]:

ventes_df = pd.DataFrame(ventes)
ventes_df["total_vente"] = ventes_df["quantité"] * ventes_df["prix_unitaire"]
ventes_df

      produit  quantité  prix_unitaire  total_vente
0  ordinateur         5            700         3500
1  smartphone         8            300         2400
2    tablette         2            400          800

### **2.	Chiffre d'affaires total du magasin pour la journée.**

In [5]:
total_vente_journee = ventes_df["total_vente"].sum().copy()
total_vente_journee

6700

### **3.Ajout d'une nouvelle vente au tableau**

In [21]:
ventes.append({"produit": "imprimante", "quantité": 3, "prix_unitaire": 150})
ventes_df2=pd.DataFrame(ventes).copy()
ventes_df2["total_vente"]=ventes_df2["quantité"]* ventes_df2["prix_unitaire"]

In [31]:
ventes_df2

      produit  quantité  prix_unitaire  total_vente
0  ordinateur         5            700         3500
1  smartphone         8            300         2400
2    tablette         2            400          800
3  imprimante         3            150          450

### **4.	Affichage des produits dont les ventes totales dépassent 1000 euros**

In [32]:
ventes_df2[ventes_df2["total_vente"]>1000]

      produit  quantité  prix_unitaire  total_vente
0  ordinateur         5            700         3500
1  smartphone         8            300         2400